{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block logout %}
<li class="nav-item">
    <a class="nav-link" href="signout">Logout</a>
</li>
{% endblock %}

{% block body %}
<div class="container mt-5"  style="text-align: center;">
    <div class="row">
        <div class="col-md-6 offset-md-3 border p-4 shadow bg-light">
            <div class="col-12">
                <h3 class="fw-normal text-secondary fs-4 text-uppercase mb-4">Doctor Booking Form</h3>
            </div>
            <form action="dbk" method="post">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="name" value="" placeholder="Enter Name">
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control" name="email" value="" placeholder="Enter Email">
                    </div>
                    <div class="col-md-6">
                        <input type="tel" class="form-control" name="phno" value="" placeholder="Phone Number">
                    </div>
                    <div class="col-md-6">
                        <input type="date" class="form-control" name="date" value="" placeholder="Enter Date">
                    </div>
                    <div class="col-md-6">
                        <input type="time" class="form-control" name="time" value="" placeholder="Enter Time">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="fees" value="" placeholder="Enter Fees">
                    </div>
                    <div class="col-12 mt-5">
                        <button type="submit" class="btn btn-primary float-end" value="Submit">Book Appointment</button>
                        <button type="button" class="btn btn-outline-secondary float-end me-2">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br><br><br><br>
<!-- <script src="{% static " js/home.js" %}" type="text/javascript"></script>
<script src="{% static " js/reg.js" %}" type="text/javascript"></script> -->
{% endblock %}