{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/showstyle.css' %}">
{% endblock %}

{% block logout %}
<li class="nav-item">
    <a class="nav-link" href="signout">Logout</a>
</li>
{% endblock %}

{% block body %}
<h1>View Doctor</h1>
<table text-align="center" id="example">
    <thead>
        <tr>
            <th>Doctor Name &emsp;</th>
            <th>Contact &emsp;</th>
            <th>Doctor Specialization &emsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for doc in d %}
        <tr>
            <td>{{doc.name}}</td>
            <td>{{doc.phno}}</td>
            <td>{{doc.spe}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}