{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}

{% block logout %}
<li class="nav-item">
  <a class="nav-link" href="signout">Logout</a>
</li>
{% endblock %}

{% block body %}
<h1 text-align="center">Patient Medical History</h1>
<div class="container">
  <div id="content">
    <h3>Patient Name:</h3><br>
    <form class='form-inline' action="med" method="post">
      {% csrf_token %}
      <div class="input-group">
        <input type='text' id='search' class="form-control search-form" placeholder="Enter Patient Name" name="name" style="width:15%;">
        <span class="input-group-btn" style="width:39px">
          <button id="search-this" type="submit" class="pull-right btn btn-default search-btn">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
<br><br><br><br>


{% endblock %}