{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- <link rel="stylesheet" href="{% static 'css/logstyle.css' %}"> -->
{% endblock %}

{% block login %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-expanded="false">
        Login
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="doctorlog">Doctor</a>
        <a class="dropdown-item" href="patientlog">Patient</a>
    </div>
</li>
{% endblock %}

{% block body %}
<section class="main heading bg-light my-5">
    <div class="text-center">
        <h1 class="display-4">Our Services</h1>
        <hr class=" w-25 mx-auto">
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-10 col-xxl-4 mx-auto">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src=" {% static 'img/ourservice2.jpg' %}" class=" img-fluid w-100 h-100"
                                alt="image loading">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 1 min ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-10 col-xxl-4 mx-auto">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'img/ourservice.jpg' %}" class="img-fluid w-100 h-100"
                                alt="image loading">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 1 min ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-10 col-xxl-4 mx-auto">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static 'img/ourservice2.jpg' %}" class="img-fluid w-100 h-100"
                                alt="image loading">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to
                                    additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 1 min ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button type="button" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="right"
                    title="Our Achievement">Check More</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}